<div class="calendar-schedule-content">
  <div class="navAndContent">
    <div class="sideNav">
      <div class="navContnet">
        <div class="controlBtns">
          <app-button
            [matStyle]="'mat-fab'"
            [toolTip]="'Log Run'"
            [border]="true"
            [hoverColour]="'rgb(18, 128, 44)'"
            (clickEvnt)="scheduleRun()"
            [content]="'calendar_add_on'"
            [customClass]="'material-symbols-outlined'"
            [customContent]="true"
          >
          </app-button>
          <mat-divider></mat-divider>
          <app-button
            [matStyle]="'mat-fab'"
            [toolTip]="'Change Calendar view'"
            [hoverColour]="'rgb(18, 128, 44)'"
            (clickEvnt)="changeCalendarView()"
            [content]="'calendar_view_month'"
            [customClass]="'material-symbols-outlined'"
            [customContent]="true"
          >
          </app-button>
          <mat-divider></mat-divider>
        </div>
        <div class="sidebarStats">
          <div class="nextRace" *ngIf="nextRaceDate">
            <p>Next Race</p>
            {{ nextRaceDate | date : "mediumDate" }}
            <mat-divider></mat-divider>
            <p class="daysTillRace">{{ daysTillRace }}</p>
            days out
            <mat-divider></mat-divider>
          </div>
          <div class="totalMiles" *ngIf="monthView">
            <p>Scheduled Monthly Mileage</p>
            {{ monthsTotalMiles }}
            <mat-divider></mat-divider>
          </div>
          <div class="daysScheduledMonth" *ngIf="monthView">
            <p>Runs scheduled</p>
            {{ daysScheduledThisMonth }}
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-content">
      <div class="monthYearSelector">
        <ng-container *ngIf="monthView"
          ><app-button
            class="backBtn"
            [matStyle]="'mat-button'"
            [customContent]="true"
            [customClass]="'material-symbols-outlined'"
            [content]="'arrow_left_alt'"
            [hoverColour]="'rgb(18, 128, 44)'"
            (clickEvnt)="previousMonth()"
          ></app-button>
          <p class="monthYearTitle">{{ monthOnUI | month }} | {{ yearOnUI }}</p>
          <app-button
            class="nextBtn"
            [customContent]="true"
            [customClass]="'material-symbols-outlined'"
            [content]="'arrow_right_alt'"
            matStepperNext
            [matStyle]="'mat-button'"
            [hoverColour]="'rgb(18, 128, 44)'"
            (clickEvnt)="nextMonth()"
          ></app-button
        ></ng-container>
      </div>
      <ng-container *ngIf="!monthView">
        <div class="currentWeekInfo">
          <p class="currentWeekTitle">
            Current week: starting {{ currentMonthFixed | month }}
            {{ (currentWeekDays[0]?.date | date : "d" | ordinal) || "" }}
          </p>
        </div>
      </ng-container>
      <!-- <div class="dayNamesRow">
        <div *ngFor="let dayName of dayNames" class="dayNameHeader">
          {{ dayName }}
        </div>
      </div> -->
      <hr class="horizontalSpacer" />
      <div class="calendar">
        <ng-container *ngIf="monthView; else weekView">
          <ng-container *ngFor="let week of weeksInMonth">
            <ng-container *ngFor="let day of week">
              <div
                (click)="isPreviousMonth(day.date) ? null : scheduleRun(day)"
                [ngClass]="{
                  dayGrid: true,
                  previousMonthDay: isPreviousMonth(day.date)
                }"
              >
                <div
                  [ngClass]="{
                    currentDateGrid:
                      (day.date | date : 'fullDate') ===
                      (currentDate | date : 'fullDate')
                  }"
                >
                  <div class="dayName">
                    <span>{{ day.date | date : "E" }}</span>
                  </div>
                  <div class="dayDate">
                    <span
                      [ngClass]="{
                        previousMonthDayNumber: isPreviousMonth(day.date)
                      }"
                      >{{ day.date | date : "d" }}</span
                    >
                  </div>
                </div>

                <ng-container
                  *ngIf="day.scheduledRun && !isPreviousMonth(day.date)"
                >
                  <div class="scheduledRunContainer">
                    <div class="distancePlanned">
                      <hr class="horizontalSpacer" />
                      <div class="distanceContainer">
                        <p>{{ day.scheduledRun.distance }} Mi</p>
                        <span
                          *ngIf="day.scheduledRun.race"
                          class="material-symbols-outlined raceDayIcon"
                        >
                          sports_score
                        </span>
                        <span
                          matTooltip="Action required"
                          *ngIf="
                            currentDate >= day.date &&
                            !day.scheduledRun.completed &&
                            !day.scheduledRun.incomplete
                          "
                          class="material-symbols-outlined unkownCompleteStatusIcon"
                        >
                          notifications_unread
                        </span>
                      </div>
                    </div>

                    <span
                      matTooltip="This run has been marked as complete"
                      *ngIf="day.scheduledRun.completed"
                      class="material-symbols-outlined completedRunIcon"
                    >
                      done_all
                    </span>
                    <span
                      matTooltip="This run has been marked as incomplete"
                      *ngIf="day.scheduledRun.incomplete"
                      class="material-symbols-outlined incompleteRunIcon"
                    >
                      close
                    </span>

                    <span
                      class="material-symbols-outlined scheduledRunIcon"
                      matTooltip="Run scheduled for this date"
                    >
                      run_circle
                    </span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-template #weekView>
          <ng-container *ngFor="let day of currentWeekDays">
            <div (click)="scheduleRun(day)" class="dayGridContainer">
              <div class="dayGrid">
                <div
                  [ngClass]="{
                    currentDateGrid:
                      (day.date | date : 'fullDate') ===
                      (currentDate | date : 'fullDate')
                  }"
                >
                  <div class="dayName">
                    <span class="weekViewDate">{{
                      day.date | date : "E"
                    }}</span>
                  </div>
                  <div class="dayDate">
                    <span class="weekViewDate">{{
                      day.date | date : "d"
                    }}</span>
                  </div>
                </div>

                <ng-container *ngIf="day.scheduledRun">
                  <div class="scheduledRunContainerWk">
                    <div class="distancePlanned">
                      <hr class="horizontalSpacer" />
                      <div class="distanceContainer">
                        <p>{{ day.scheduledRun.distance }} Mi</p>
                        <span
                          matTooltip="Action required"
                          *ngIf="
                            currentDate >= day.date &&
                            !day.scheduledRun.completed &&
                            !day.scheduledRun.incomplete
                          "
                          class="material-symbols-outlined unkownCompleteStatusIcon"
                        >
                          notifications_unread
                        </span>
                      </div>
                    </div>
                    <p *ngIf="day.scheduledRun.race" class="isRaceDisplay">
                      Race Day
                    </p>

                    <div class="gridWkViewIcons">
                      <span
                        matTooltip="This run has been marked as complete"
                        *ngIf="day.scheduledRun.completed"
                        class="material-symbols-outlined completedRunIcon"
                      >
                        done_all
                      </span>
                      <span
                        matTooltip="This run has been marked as incomplete"
                        *ngIf="day.scheduledRun.incomplete"
                        class="material-symbols-outlined incompleteRunIcon"
                      >
                        cancel
                      </span>
                      <span
                        class="material-symbols-outlined scheduledRunIcon"
                        matTooltip="Run scheduled for this date"
                      >
                        run_circle
                      </span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </div>
      <div *ngIf="!monthView" class="extendedInfoContainerWkView">
        <mat-grid-list cols="2" [gutterSize]="'20px'" rowHeight="30rem" rowW>
          <mat-grid-tile class="weeklyMileageTile" [colspan]="1" [rowspan]="1">
            <div class="tileContent">
              <p class="gridTitle">Weekly Mileage Completion</p>
              <div class="tileData">
                <ngx-gauge
                  [type]="gaugeType"
                  [value]="gaugeValue"
                  [label]="gaugeLabel"
                  [append]="gaugeAppendText"
                  [thick]="5"
                  [size]="300"
                  [cap]="'round'"
                >
                </ngx-gauge>
              </div>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="LongRunTile" [colspan]="1" [rowspan]="1">
            <div class="tileContent">
              <p class="gridTitle">Weeks Long Run</p>
              <div class="tileData">
                <p class="distanceTag">{{ weeksLongRunDistance }}</p>
                <p class="milesTag">Mi</p>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>
