$accentGreen: rgb(18, 128, 44);

@mixin inputStyles {
  width: 80px;
  font-size: 20px;
  padding: 10px;
}

.dialogBtns {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

::ng-deep .mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  font-size: 30px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.distanceText {
  text-align: center;
  word-wrap: break-word;
  line-height: 1.6;
}

.inputs {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.time {
  @include inputStyles;
}

.distanceLabel {
  font-weight: 100;
  display: inline-flex;
}

.timeLabel {
  font-weight: 100;
  display: inline-flex;
}
