<div class="dialogWrapper">
  <p class="areTheseCorrect">Are these details correct?</p>
  <div class="dialogDetails">
    <p class="dateTitle">Run Date:</p>
    <p class="dateText">{{data.date | date: 'fullDate'}}</p>
    <p class="distanceTitle">Distance:</p>
    <p class="distanceText">{{data.distance}} Miles</p>
    <p class="notesTitle">Notes:</p>
    <p class="notesText">{{data.notes}}</p>
  </div>

  <div class="dialogButtons">
    <button mat-button class="confirmBtn" [mat-dialog-close]="data">
      Confirm
    </button>
    <button mat-button class="cancelBtn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
