.home-content {
    min-height: calc(100vh - 64px);
    background-color: white;
}


.centerDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 500px;
    border: 1px solid;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: rgb(255, 255, 255);
}

.centerDiv:hover {
    box-shadow: rgb(18, 128, 44) 0px 2px 4px, rgb(18, 128, 44) 0px 7px 13px -3px, rgb(18, 128, 44) 0px -3px 0px inset;
}



.title {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 46px;
    padding-top: 5px;
    color: rgb(0, 0, 0);
}

.datePicker {
    color: white !important;
    width: 350px;
    font-size: 20px;

}

::ng-deep .mat-form-field-underline {
    display: none;
}

.chooseDateText {
    color: rgb(0, 0, 0)
}

.pickerText{
    color: rgb(0, 0, 0)
}


.datePickerContainer {
    text-align: center;
    padding-top: 50px;
}

.distance {
    color: rgb(18, 128, 44) !important;
    width: 350px;
    font-size: 20px;
}

.notes {
    padding-bottom: 80px;
    color: rgb(18, 128, 44) !important;
    width: 350px;
    font-size: 20px;
}


.logBtn{
    width: 300px;
    height: 40px;
    background:white;
    color:rgb(0, 0, 0);
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  .logBtn:hover{
    background:rgb(0, 0, 0);
    color:white;
    border: 2px solid white;
  }
  .logBtn:before,.logBtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgba(0, 0, 0, 0.582);
    transition:400ms ease all;
  }
  .logBtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .logBtn:hover:before,.logBtn:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .confirmBtn {
    font-size: 22px;
    background-color: #101820FF;
    border: 2px solid white;
    color: white;
    margin-right: 40px;
  }

  .cancelBtn {
    font-size: 22px;
    background-color: #101820FF;
    border: 2px solid white;
    color: white;
  }

  .confirmBtn:hover {
    font-size: 22px;
    background-color: rgb(18, 128, 44);
    color: white;
  }

  .cancelBtn:hover {
    font-size: 22px;
    background-color: rgb(144, 30, 30);
    color: white;
  }

  ::ng-deep .mat-dialog-container {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
    text-align: center;
    font-size: 30px;
}

.confrimTitle {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 46px;
    padding-top: 5px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.areTheseCorrect {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.notesTitle {
    padding-top: 5px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.distanceTitle {
    padding-top: 5px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.dateTitle {
    padding-top: 5px;
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 0, 0);

}

.distanceText {
    text-align: center;
    word-wrap:break-word;
    line-height: 1.6;
    color: rgb(18, 128, 44);
}

.notesText {
    text-align: center;
    word-wrap:break-word;
    line-height: 1.6;
    padding-bottom: 50px;
    color: rgb(18, 128, 44)
}

.dateText {
    text-align: center;
    word-wrap:break-word;
    line-height: 1.6;
    color: rgb(18, 128, 44)
}

.dialogWrapper {
    overflow: auto;
}
