$accentGreen: rgb(18, 128, 44);

.title {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.filter-run-section {
  font-weight: 200;
  font-size: 16px;
  padding-top: 5px;
}

.checkbox-section {
  text-align: start;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  background-color: $accentGreen !important;
}

::ng-deep.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: black !important;
  // background-color: black !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-mdc-checkbox ::ng-deep.mat-checkbox-checkmark-path {
  stroke: white !important;
}
