$accentGreen: rgb(18, 128, 44);

.title {
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.filter-run-section {
  font-weight: 200;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.checkbox-section {
  text-align: start;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $accentGreen !important;
}

.mat-checkbox ::ng-deep.mat-checkbox-checkmark-path {
  stroke: white !important;
}
