<div class="gallery-container">
  <div class="controlsContainer">
    <div class="searchBar" #content>
      <form class="form">
        <mat-form-field class="searchInput" appearance="outline">
          <div class="inputAndButton">
            <input
              autocomplete="off"
              #searchInput
              type="search"
              matInput
              placeholder="Search..."
              name="search"
              (ngModelChange)="filterSearch($event)"
              [(ngModel)]="search"
            />
            <ng-container *ngIf="searchInput.value.length > 0"
              ><button class="clearSearchButton" (click)="clearSearch()">
                <mat-icon>close</mat-icon>
              </button></ng-container
            >
          </div>
        </mat-form-field>
      </form>
    </div>

    <div class="uploadBtnContainer">
      <app-button
        [customContent]="true"
        [content]="'upload'"
        [customClass]="'material-symbols-outlined'"
        (clickEvnt)="openUploader()"
        class="toggleUploadBtn"
        [matStyle]="'mat-fab'"
        [toolTip]="'Upload Image'"
        [border]="true"
        [hoverColour]="'rgb(18, 128, 109)'"
      ></app-button>
    </div>
  </div>

  <div class="imageGallery">
    <ng-container *ngIf="search.length > 0">
      <div class="searchResults">
        <ng-container *ngFor="let img of allImages">
          <mat-card
            appearance="outlined"
            (click)="viewSpecificImage(img)"
            class="cardContainer"
          >
            <h3
              class="imgCardDescription"
              [matTooltipPosition]="'above'"
              [matTooltip]="img.description"
            >
              {{ img.description }}
            </h3>
            <img class="cardImg" [src]="img.url" [alt]="img.description" />
            <div class="imgTagContainerCard">
              <ng-container *ngFor="let tag of img.tags">
                <mat-chip-listbox>
                  <mat-chip-option class="matChip">
                    {{ tag }}
                  </mat-chip-option>
                </mat-chip-listbox>
              </ng-container>
            </div>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="search.length == 0">
      <ng-container *ngIf="showCarousel && allImages.length > 0; else noImages">
        <div
          *carousel="
            allImages;
            let img = currentImage;
            let idx = currentIdx;
            let ctrl = controller
          "
          class="carouselContainer"
        >
          <div class="imageContainer">
            <button (click)="ctrl.prev()" class="prevBtn">
              <span class="material-symbols-outlined"> arrow_back_ios </span>
            </button>
            <img
              [@imageTransition]="'imageAnimation'"
              [src]="img.url"
              (click)="viewSpecificImage(img)"
            />
            <div class="image-indicators">
              <ng-container *ngFor="let image of allImages; let i = index">
                <span class="image-indicator" [class.active]="idx === i"></span>
              </ng-container>
            </div>
            <button (click)="ctrl.next(true)" class="nextBtn">
              <span class="material-symbols-outlined"> arrow_forward_ios </span>
            </button>
          </div>
          <div class="imgTagContainer">
            <ng-container *ngFor="let tag of img.tags">
              <mat-chip-listbox>
                <mat-chip-option class="matChip">
                  {{ tag }}
                </mat-chip-option>
              </mat-chip-listbox>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-template #noImages>
      <div class="noImageMessage">
        <h3>Click on the upload button to get started!</h3>
        <p>Please upload one image at a time.</p>
      </div>
    </ng-template>

    <ng-template #noSearchResults>
      <div class="noImageMessage">
        <h3>No search results found</h3>
        <p>Try to include key words or tags from an image</p>
      </div>
    </ng-template>
  </div>
</div>
