.gallery-container {
  min-height: calc(100vh - 64px);
  flex-wrap: wrap;
}

.image {
  padding: 5px;
}

.image img {
  object-fit: cover;
  width: 250px;
  height: 300px;
}

.imageGallery {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.uploadContainer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.file-upload {
  padding-top: 10px;
  text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.imageContainer {
  height: 600px;
  width: 630px;
  justify-content: center;
  text-align: center;
}

.imageContainer img {
  width: 500px;
  height: 550px;
  object-fit: cover;
}

.closeImageBtn {
  border: none !important;
  background-color: transparent !important;
  font-size: 20px;
}

.closeImageBtn:hover {
  color: red;
}

.closeBtn {
  text-align: right;
}

::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}
