$accentGreen: rgb(18, 128, 44);
.gallery-container {
  min-height: calc(100vh - 64px);
  flex-wrap: wrap;
}

.image {
  padding: 5px;
}

.image img {
  object-fit: cover;
  width: 250px;
  height: 300px;
}

.imageGallery {
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.file-upload {
  display: flex;
  justify-content: center;
}

.uploadBtns {
  display: flex;
  justify-content: space-evenly;
}

.uploadContainer {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.file-upload {
  padding-top: 10px;
  text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.uploadTitle {
  font-weight: 100;
}

.toggleUploadBtn {
  display: flex;
  justify-content: center;
}

.hiddenUploader {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: none;
  margin: 0;
  padding: 0;
}
