<div class="dialogWrapper">
  <h1 class="areTheseCorrect">Are these details correct?</h1>
  <hr class="horizontalSpacer" />
  <div class="dialogDetails">
    <p class="dateText">{{data.date | date: 'fullDate'}}</p>
    <p class="distanceText">{{data.distance}} Miles</p>
    <p class="notesText">{{data.notes}}</p>
    <p class="rpeText">RPE: {{data.rpe}}</p>
  </div>

  <div class="dialogButtons">
    <button mat-button class="confirmBtn" [mat-dialog-close]="data">
      Confirm
    </button>
    <button mat-button class="cancelBtn" (click)="onNoClick()">Cancel</button>
  </div>
</div>
