$accentGreen: rgb(18, 128, 44);

@mixin dialogHeadings {
  padding-top: 5px;
  font-weight: 200;
}

@mixin dialogValues {
  text-align: center;
  max-width: 450px;
  word-wrap: break-word;
  line-height: 1.6;
}

@mixin greenBoxShadow {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

@mixin inputStyles {
  width: 350px;
  font-size: 20px;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.datePicker {
  width: 350px;
  font-size: 20px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.chooseDateText {
  font-weight: 100;
}

.addMilesText {
  font-weight: 100;
  display: inline-flex;
}

.miLabel {
  font-size: 10px;
}

.addNotesText {
  font-weight: 100;
}

.pickerText {
  font-weight: 100;
}

.datePickerContainer {
  display: grid;
  text-align: center;
  padding-top: 30px;
}

.distance {
  @include inputStyles;
}

.notes {
  @include inputStyles;
}

::ng-deep .mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  font-size: 30px;
}

.areTheseCorrect {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  margin: 0;
  padding-right: 5px;
  padding-bottom: 15px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.distanceText {
  @include dialogValues;
}

.notesText {
  @include dialogValues;
}

.rpeText {
  @include dialogValues;
}

.dateText {
  @include dialogValues;
}

.closeBtn {
  display: flex;
  justify-content: end;
}

::ng-deep.mat-step-icon-content {
  font-size: initial !important;
}

.log-content {
  display: flex;
  justify-content: space-between;
}

.navBtns {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  app-button {
    margin: 5px;
  }
}

.additionalContent {
  padding-top: 30px;
  display: grid;
  justify-content: center;
}

.runReview {
  display: grid;
  justify-content: center;
  font-size: medium;
  font-weight: 400;
}
