$accentGreen: rgb(18, 128, 44);

@mixin dialogHeadings {
  padding-top: 5px;
  font-weight: 200;
}

@mixin dialogValues {
  text-align: center;
  max-width: 450px;
  word-wrap: break-word;
  line-height: 1.6;
}

@mixin greenBoxShadow {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

@mixin inputStyles {
  width: 350px;
  font-size: 20px;
}

.centerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 500px;
  // padding: 10px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.datePicker {
  width: 350px;
  font-size: 20px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.chooseDateText {
  font-weight: 100;
}

.addMilesText {
  font-weight: 100;
  display: inline-flex;
}

.miLabel {
  font-size: 10px;
}

.addNotesText {
  font-weight: 100;
}

.pickerText {
  font-weight: 100;
}

.datePickerContainer {
  text-align: center;
  padding-top: 50px;
}

.distance {
  @include inputStyles;
}

.notes {
  @include inputStyles;
}

::ng-deep .mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  font-size: 30px;
}

.areTheseCorrect {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.distanceText {
  @include dialogValues;
}

.notesText {
  @include dialogValues;
}

.rpeText {
  @include dialogValues;
}

.dateText {
  @include dialogValues;
}

.dialogWrapper {
  overflow: auto;
}

.dialogButtons {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.dialogDetails {
  text-align: left;
}

.closeBtn {
  display: flex;
  justify-content: end;
}

.submitBtn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  scale: 1.2;
}
