$accentGreen: rgb(18, 128, 44);

@mixin dialogHeadings {
  padding-top: 5px;
  font-weight: 200;
}

@mixin dialogValues {
  text-align: center;
  max-width: 450px;
  word-wrap: break-word;
  line-height: 1.6;
}

@mixin greenBoxShadow {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

@mixin inputStyles {
  width: 350px;
  font-size: 20px;
}

@mixin dialogBtnStyles {
  font-size: 22px;
  background-color: #101820ff;
  color: white;
}

.home-content {
  text-align: end;
}

.centerDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 650px;
  width: 500px;
  // padding: 10px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.datePicker {
  width: 350px;
  font-size: 20px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.chooseDateText {
  font-weight: 100;
}

.addMilesText {
  font-weight: 100;
  display: inline-flex;
}

.miLabel {
  font-size: 10px;
}

.addNotesText {
  font-weight: 100;
}

.pickerText {
  font-weight: 100;
}

.datePickerContainer {
  text-align: center;
  padding-top: 50px;
}

.distance {
  @include inputStyles;
}

.notes {
  @include inputStyles;
}

.logBtn {
  margin-top: 50px;
  width: 200px;
  height: 60px;
  color: black;
  border: none;
  position: relative;
  font-size: 20px;
  font-weight: 100;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 1px inset,
    rgb(0 0 0 / 90%) 0px 0px 0px 1px;
}
.logBtn:hover {
  background: black;
  color: white;
  border: 2px solid $accentGreen;
}
.logBtn:before,
.logBtn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgba(0, 0, 0, 0.582);
  transition: 400ms ease all;
}
.logBtn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.logBtn:hover:before,
.logBtn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.confirmBtn {
  @include dialogBtnStyles;
  margin-right: 40px;
  border: 2px solid white;
}

.cancelBtn {
  @include dialogBtnStyles;
}

.confirmBtn:hover {
  font-size: 22px;
  background-color: $accentGreen;
  color: white;
}

.cancelBtn:hover {
  font-size: 22px;
  background-color: rgb(144, 30, 30);
  color: white;
}

::ng-deep .mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  font-size: 30px;
}

.areTheseCorrect {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover,
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.distanceText {
  @include dialogValues;
}

.notesText {
  @include dialogValues;
}

.rpeText {
  @include dialogValues;
}

.dateText {
  @include dialogValues;
}

.dialogWrapper {
  overflow: auto;
}

.dialogButtons {
  padding-top: 100px;
}

.dialogDetails {
  text-align: left;
}

.closeBtn {
  background: black;
  border: 1px solid white;

  &:hover {
    background-color: rgb(144, 30, 30);
  }
}

.closeIcon {
  cursor: pointer;
  // color: white;
}
