$accentGreen: rgb(18, 128, 44);

@mixin labelStyles {
  padding-top: 5px;
  font-weight: 200;
  text-align: left;
}

.confirmBtn {
  font-size: 22px;
  background-color: #101820ff;
  border: 2px solid white;
  color: white;
  margin-right: 40px;
}

.cancelBtn {
  font-size: 22px;
  background-color: #101820ff;
  border: 2px solid white;
  color: white;
}

.confirmBtn:hover {
  font-size: 22px;
  background-color: $accentGreen;
  color: white;
}

.cancelBtn:hover {
  font-size: 22px;
  background-color: rgb(144, 30, 30);
  color: white;
}

::ng-deep .mat-dialog-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  text-align: center;
  font-size: 30px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.dateTitle {
  @include labelStyles;
}

.dateText {
  text-align: center;
  word-wrap: break-word;
  line-height: 1.6;
  color: $accentGreen;
}

.inputs {
  text-align: left;
  display: grid;
  margin: 0 auto;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

textarea:focus,
input:focus {
  color: $accentGreen;
}

textarea,
input {
  color: $accentGreen;
  font-size: 20px;
}

.distanceLabel {
  @include labelStyles;
}

.notesLabel {
  @include labelStyles;
}
