<h1 mat-dialog-title class="title">Edit Run</h1>
<hr class="horizontalSpacer" />
<div class="text" mat-dialog-content>
  <p class="dateText">{{ data.date | date : "fullDate" }}</p>
  <div class="inputs">
    <mat-form-field appearance="fill" class="distance">
      <mat-label class="distanceLabel">Distance</mat-label>
      <input
        matInput
        type="number"
        autocomplete="off"
        min="1"
        title="please enter positive numbers only"
        [(ngModel)]="data.distance"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" class="notes">
      <mat-label class="notesLabel">Notes</mat-label>
      <input matInput type="text" [(ngModel)]="data.notes" autocomplete="off" />
    </mat-form-field>
    <app-effort-slider
      [value]="data.rpe"
      (effortValue)="data.rpe = $event"
    ></app-effort-slider>
  </div>
  <div class="dialogBtns">
    <app-button
      [disabled]="data.distance != undefined && data.distance <= 0"
      [matStyle]="'mat-button'"
      [hoverColour]="'rgb(18, 128, 44)'"
      [border]="true"
      (clickEvnt)="verifyEdit(data)"
      [icon]="'check'"
    ></app-button>

    <app-button
      [matStyle]="'mat-button'"
      [hoverColour]="'rgb(144, 30, 30)'"
      [border]="false"
      (clickEvnt)="onNoClick()"
      [icon]="'close'"
    ></app-button>

    <app-button
      [matStyle]="'mat-button'"
      [hoverColour]="'rgb(144, 30, 30)'"
      [border]="false"
      (clickEvnt)="openDeleteDialog(data)"
      [icon]="'delete_outline'"
    ></app-button>
  </div>
</div>
