<ng-container *ngIf="matStyle === 'mat-button'">
  <button
    #btn
    mat-raised-button
    [ngClass]="{
      btn: true && !border,
      borderBtn: border && true,
      warning: warning
    }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
    [autofocus]="false"
  >
    <ng-content
      [ngClass]="{ darkContent: darkTheme, lightContent: !darkTheme }"
    ></ng-content>
    <div class="iconBtn">
      <span *ngIf="customContent" class="{{ customClass }}">
        {{ content }}
      </span>
    </div>

    <mat-icon *ngIf="!customContent" class="iconBtn">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="matStyle === 'mat-fab'">
  <button
    #btn
    mat-fab
    [ngClass]="{
      fabBtn: true && !border,
      borderBtn: border && true,
      warning: warning
    }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
    [autofocus]="false"
  >
    <div class="iconBtn">
      <span *ngIf="customContent" class="{{ customClass }}">
        {{ content }}
      </span>
    </div>

    <mat-icon *ngIf="!customContent" class="iconBtn">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="matStyle === 'mat-mini-fab'">
  <button
    #btn
    mat-mini-fab
    [ngClass]="{
      btn: true && !border,
      borderBtn: border && true,
      warning: warning
    }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
    [autofocus]="false"
  >
    <div class="iconBtn">
      <span *ngIf="customContent" class="{{ customClass }}">
        {{ content }}
      </span>
    </div>

    <mat-icon *ngIf="!customContent" class="iconBtn">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="matStyle === 'mat-fab-badge'">
  <button
    #btn
    mat-fab
    [ngClass]="{
      fabBtnDark: true && !border,
      borderBtn: border && true,
      warning: warning
    }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
    [matBadge]="badge"
    [matBadgeHidden]="badgeHidden"
    [autofocus]="false"
  >
    <div class="iconBtn">
      <span *ngIf="customContent" class="{{ customClass }}">
        {{ content }}
      </span>
    </div>

    <mat-icon *ngIf="!customContent" class="iconBtn">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>
