<ng-container *ngIf="matStyle === 'mat-button'">
  <button
    #btn
    mat-button
    class="btn"
    [ngClass]="{ borderBtn: border, warning: warning }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
  >
    <ng-content></ng-content>
    <span *ngIf="customContent" class="{{ customClass }}">
      {{ content }}
    </span>

    <mat-icon *ngIf="!customContent">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="matStyle === 'mat-fab'">
  <button
    #btn
    mat-fab
    class="fabBtn"
    [ngClass]="{ borderBtn: border, warning: warning }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
  >
    <span *ngIf="customContent" class="{{ customClass }}">
      {{ content }}
    </span>

    <mat-icon *ngIf="!customContent">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="matStyle === 'mat-mini-fab'">
  <button
    #btn
    mat-mini-fab
    class="btn"
    [ngClass]="{ borderBtn: border, warning: warning }"
    [disabled]="disabled"
    (click)="onClick()"
    (mouseover)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    matTooltip="{{ toolTip }}"
  >
    <span *ngIf="customContent" class="{{ customClass }}">
      {{ content }}
    </span>

    <mat-icon *ngIf="!customContent">
      {{ icon }}
    </mat-icon>
  </button>
</ng-container>
