.borderBtn {
  border: 2px solid white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fabBtn {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBtn {
  // color: white !important;
  display: flex !important;
  align-items: center !important;
}

.warning {
  span {
    color: rgb(228, 155, 20);
  }
}

::ng-deep .mdc-button__label {
  // color: white !important;
  display: flex;
}
