.borderBtn {
  border: 2px solid white;
  font-size: 18px;
  background-color: #101820ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 12px;
  background-color: #101820ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.fabBtn {
  font-size: 22px;
  background-color: #101820ff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  display: flex;
  align-items: center;
}

.warning {
  span {
    color: rgb(228, 155, 20);
  }
}
