$accentGreen: rgb(18, 128, 109);
$darkBlue: #101820ff;

.controlBtns {
  text-align: center;
  display: grid;
  justify-content: center;
  margin-top: 20px;

  app-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.log-content {
  min-height: calc(100vh - 64px);
}

.navAndTable {
  display: flex;
  // height: 800px;
}

.sideNav {
  width: 100px;
  min-height: calc(100vh - 64px);
  background-color: none;
  border-right: 1px solid $darkBlue;
  z-index: 1;
}

.sidenavBorder {
  border-right: 1px solid $darkBlue;
  z-index: 1;
  width: 100px;
}

.resultsTable {
  margin: 0 auto;
  width: 90%;
  position: relative;
  overflow: auto;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

table {
  width: 100%;
  table-layout: fixed;
}

tr.tableRowDark {
  cursor: pointer;
  height: 70px !important;

  &:hover {
    background-color: #2020207e !important;
  }
}

tr.tableRowLight {
  cursor: pointer;
  height: 70px !important;

  &:hover {
    background-color: $accentGreen;
  }
}

::ng-deep tr {
  font-weight: bold;
  font-size: 5px;
}

table th {
  font-style: italic;
  font-size: 24px;
  color: white !important;
  background-color: $darkBlue;
}

.notesColumn {
  width: 10%;
}

.tableNotes {
  word-wrap: break-word;
  max-width: 15ch;
}

.paginationControlsLight::ng-deep .ngx-pagination .current {
  background: $accentGreen;
}

.paginationControlsDark::ng-deep .ngx-pagination .current {
  background: $accentGreen;
}

.paginationControlsLight ::ng-deep.ngx-pagination a {
  color: black !important;
  &:hover {
    background-color: rgba(177, 177, 177, 0.808);
  }
}

.paginationControlsDark ::ng-deep.ngx-pagination a {
  color: white !important;
  &:hover {
    background-color: rgb(31, 31, 31);
  }
}

.paginationControlsContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

.pageSizeMatSelect {
  margin-left: 10px;
  width: 5rem;
}

.pageSizeMatSelect ::ng-deep .mdc-text-field {
}

.sidebarStats {
  display: grid;
  margin: 1rem;
}

.totalMiles {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
}

.runStreak {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  margin-top: 25px;
}

.currentRunStreak {
  font-weight: bold;
  margin: 0px;
}

.dateRangeComp {
  text-align: left;
  height: 75px;
  width: fit-content;
  margin-top: 1px;
  margin-bottom: 1px;
}

.miLabel {
  padding-left: 3px;
  font-size: 10px;
}

tr.notesRow {
  height: 0 !important;
}

.expandedRowWithNotes {
  overflow: hidden;
}

.expandRowBtnLight {
  background: black;

  &:hover {
    background-color: $accentGreen;
  }
}

.expandRowBtnDark:hover {
  background-color: $accentGreen;
}

.noData {
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.groupedButtons {
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 5px;
  display: flex;
  z-index: 2;

  .downloadCsvButton {
    margin-right: 10px;
  }
  .runningStreak {
    margin-right: 10px;
  }
}

.distanceData {
  font-weight: 400;
}

.tagsData {
  font-weight: 400;
}

.tagsContainer {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.tagsFromRun {
  margin-bottom: 10px;
}

.dateData {
  font-weight: 400;
}

.expandedRowTitle {
  font-weight: 100;
}

.expandedRowNotes {
  font-weight: 300;
}

.rpeNotesTitle {
  font-weight: 100;
  padding-right: 5px;
}

.expandedRowRpe {
  font-weight: 300;
}

.expandedRowShoes {
  font-weight: 300;
}

.titleAndIcon {
  display: flex;
}

.runNotesSection {
  margin-top: 10px;
}

.noResultsError {
  display: grid;
  justify-content: center;
  align-items: baseline;
  margin: inherit;
}

.retryBtn {
  display: flex;
  justify-content: center;
}

.borderAndPagination {
  display: flex;
}

::ng-deep .mat-mdc-tooltip {
  white-space: pre-line !important;
}
