<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="log-content">
  <h1 class="logTitle">Running Log</h1>
  <mat-card class="totalMiles">
    Total Miles in current search:
    <p class="mileage">{{ totalMiles | number : "1.2-2" }}</p>
    <button
      [title]="'Filters'"
      mat-fab
      (click)="openFilters()"
      class="filterRunsBtn"
    >
      <span class="material-symbols-outlined"> filter_alt </span>
    </button>
    <button
      [title]="'Date range'"
      mat-fab
      class="toggleRangePickerBtn"
      (click)="toggleRange()"
    >
      <mat-icon>date_range</mat-icon>
    </button>
  </mat-card>

  <div>
    <ng-container *ngIf="rangePicker">
      <app-date-range-picker
        (clearSearches)="clearSearch()"
        (searchRange)="search($event)"
        [clearRange]="clearRangeObs$"
      ></app-date-range-picker>
    </ng-container>
  </div>

  <div class="resultsTable">
    <table
      mat-table
      [dataSource]="
        sortedData | paginate : { itemsPerPage: 10, currentPage: p }
      "
      matSort
      (matSortChange)="sortData($event)"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="RunDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="RunDate">
          Date
        </th>
        <td mat-cell *matCellDef="let run">
          {{ run.RunDate | date : "fullDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Distance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Distance">
          Distance
          <p class="miLabel">(Mi)</p>
        </th>
        <td mat-cell *matCellDef="let run">{{ run.Distance }}</td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let run">
          <button
            class="expandRowBtn"
            mat-icon-button
            (click)="
              expandedRow = expandedRow === run ? null : run;
              $event.stopPropagation()
            "
          >
            <mat-icon *ngIf="expandedRow !== run">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedRow === run">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let run"
          [attr.colspan]="columnsToDisplayWithExpand.length"
        >
          <div
            class="expandedRowWithNotes"
            [@detailExpand]="run == expandedRow ? 'expanded' : 'collapsed'"
          >
            <div class="runNotesSection">
              <h3>Notes from this run:</h3>
              <p>{{ run.Notes ? run.Notes : "N/A" }}</p>
            </div>
          </div>
        </td>
      </ng-container>

      <tr class="noDataRow" *matNoDataRow>
        <td class="noData" [attr.colspan]="displayedColumns.length">
          No data matching the filter.
        </td>
      </tr>
      <tr
        class="headerRows"
        mat-header-row
        *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"
      ></tr>
      <tr
        mat-row
        class="tableRow"
        *matRowDef="let row; columns: columnsToDisplayWithExpand"
        (click)="editRow(row)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="notesRow"
      ></tr>
    </table>
  </div>
  <ng-container *ngIf="sortedData">
    <ng-container *ngIf="sortedData.length > 10">
      <pagination-controls
        class="paginationControls"
        (pageChange)="p = $event"
      ></pagination-controls>
    </ng-container>
  </ng-container>
</div>
