$accentGreen: rgb(18, 128, 44);
$darkBlue: #101820ff;

.controlBtns {
  display: flex;
  justify-content: space-evenly;
}

@mixin greenBoxShadow {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

.log-content {
  min-height: calc(100vh - 64px);
}

.logTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

.resultsTable {
  margin: 0 auto;
  width: 90%;
  height: 600px;
  position: relative;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

table {
  width: 100%;
}

tr.tableRow {
  cursor: pointer;
  height: 70px !important;
}

tr.tableRow:hover {
  background-color: rgba(0, 80, 7, 0.356);
}

::ng-deep tr {
  font-weight: bold;
  font-size: 5px;
}

table th {
  font-style: italic;
  font-size: 24px;
  color: white !important;
  background-color: $darkBlue;
}

.tableNotes {
  word-wrap: break-word;
  max-width: 15ch;
}

.paginationControls ::ng-deep .ngx-pagination .current {
  background: $accentGreen;
}

.paginationControls ::ng-deep.ngx-pagination a {
  color: $accentGreen !important;
}

.paginationControlsContainer {
  justify-content: center;
  display: flex;
}

.pageSizeMatSelect {
  margin-left: 10px;
  width: 50px;
}

.contentCards {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.totalMiles {
  text-align: center;
  height: 75px;
  width: fit-content;
  margin-bottom: 40px;
  font-weight: 200;
}

.cardMargin {
  text-align: center;
  height: 75px;
  width: fit-content;
  margin-bottom: 40px;
  margin-right: 10px;
}

.dateRangeComp {
  text-align: center;
  height: 75px;
  width: fit-content;
  margin-bottom: 40px;
}

.dateRangeComp:hover {
  @include greenBoxShadow;
}

.totalMiles:hover {
  @include greenBoxShadow;
}

.mileage {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.miLabel {
  padding-left: 3px;
  font-size: 10px;
}

tr.notesRow {
  height: 0 !important;
}

.expandedRowWithNotes {
  overflow: hidden;
}

.expandRowBtn {
  background: black;
  border: 1px solid white;

  &:hover {
    background-color: $accentGreen;
  }
}

.noData {
  border: none;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}

.downloadCsvButton {
  color: black;
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: 5px;
}

.downloadCsvButton:hover {
  color: white;
  background-color: $accentGreen;
}

.distanceData {
  font-weight: 400;
}

.dateData {
  font-weight: 400;
}

.expandedRowTitle {
  font-weight: 100;
}

.expandedRowNotes {
  font-weight: 300;
}

.rpeNotesTitle {
  font-weight: 100;
  padding-right: 5px;
}

.expandedRowRpe {
  font-weight: 300;
}

.titleAndIcon {
  display: flex;
}

::ng-deep .mat-tooltip {
  white-space: pre-line !important;
}
