<div class="log-content">
  <div class="navAndTable">
    <div class="sideNav">
      <div class="navContnet">
        <div class="controlBtns">
          <app-button
            [matStyle]="'mat-fab'"
            [toolTip]="'Log Run'"
            (clickEvnt)="openLogRun()"
            [border]="true"
            [hoverColour]="'rgb(18, 128, 109)'"
            [icon]="'add'"
          >
          </app-button>
          <mat-divider></mat-divider>
          <app-button
            [matStyle]="'mat-fab-badge'"
            [toolTip]="'Filters'"
            (clickEvnt)="openFilters()"
            [hoverColour]="'rgb(18, 128, 109)'"
            [customContent]="true"
            [customClass]="'material-symbols-outlined'"
            [content]="'tune'"
            [badge]="'1'"
            [badgeHidden]="badgeHidden"
          >
          </app-button>
          <mat-divider></mat-divider>
          <app-button
            [matStyle]="'mat-fab'"
            [toolTip]="'Date range'"
            (clickEvnt)="toggleRange()"
            [hoverColour]="'rgb(18, 128, 109)'"
            [icon]="'date_range'"
          >
          </app-button>
          <mat-divider></mat-divider>
          <app-button
            [matStyle]="'mat-fab'"
            (clickEvnt)="openExportDialog()"
            [toolTip]="'Download current search'"
            [hoverColour]="'rgb(18, 128, 109)'"
            [customContent]="true"
            [customClass]="'material-symbols-outlined'"
            [content]="'download'"
            class="downloadCsvButton"
          ></app-button>
          <mat-divider></mat-divider>
          <app-button
            *ngIf="highMileageShoes.length > 0"
            [matStyle]="'mat-fab'"
            (clickEvnt)="openShoeInfoDialog()"
            [toolTip]="'View high mileage shoe(s)'"
            [hoverColour]="'rgba(242, 187, 67, 0.501)'"
            [customContent]="true"
            [customClass]="'material-symbols-outlined'"
            [content]="'warning'"
            class="highMileageButton"
            [warning]="true"
          ></app-button>
          <mat-divider></mat-divider>
        </div>

        <div class="sidebarStats">
          <div class="totalMiles">
            <p>Total Miles</p>
            {{ totalMiles | number : "1.2-2" }}
            <mat-divider></mat-divider>
          </div>

          <div class="runStreak">
            <p>Run Streak</p>
            <p class="currentRunStreak">{{ runningStreak }}</p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </div>

    <div class="resultsTable">
      <ng-container *ngIf="rangePicker">
        <div class="dateRangeComp">
          <app-date-range-picker
            (clearSearches)="clearSearch()"
            (searchRange)="search($event)"
            [clearRange]="clearRangeObs$"
          ></app-date-range-picker>
        </div>
      </ng-container>
      <table
        matTableExporter
        #exporter="matTableExporter"
        [hiddenColumns]="[2]"
        mat-table
        [dataSource]="
          sortedData | paginate : { itemsPerPage: pageSize, currentPage: p }
        "
        matSort
        (matSortChange)="sortData($event)"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="RunDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="RunDate"
            class="dateColumn"
          >
            Date
          </th>
          <td mat-cell *matCellDef="let run" class="dateData">
            {{ run?.rundate | date : "fullDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Distance">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="Distance"
            class="distanceColumn"
          >
            Distance
            <p class="miLabel">(Mi)</p>
          </th>
          <td mat-cell *matCellDef="let run" class="distanceData">
            {{ run?.distance }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Tags">
          <th mat-header-cell *matHeaderCellDef class="tagsColumn">Tags</th>
          <td mat-cell *matCellDef="let run" class="tagsData">
            <mat-chip-set class="runTagsList">
              <ng-container *ngIf="run?.tags?.length <= 2">
                <!-- Render the first two tags normally -->
                <ng-container *ngFor="let tag of run?.tags">
                  <mat-chip>{{ tag }}</mat-chip>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="run?.tags?.length > 2">
                <!-- Render the first two tags normally -->
                <ng-container *ngFor="let tag of run?.tags.slice(0, 2)">
                  <mat-chip>{{ tag }}</mat-chip>
                </ng-container>
                <!-- Show a "show more" chip with the count of additional tags -->
                <mat-chip (click)="expandRow($event, run)"
                  >+{{ run?.tags.length - 2 }} more</mat-chip
                >
              </ng-container>
            </mat-chip-set>
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef class="notesColumn">Notes</th>
          <td mat-cell *matCellDef="let run">
            <button
              [ngClass]="{
                expandRowBtnDark: darkTheme,
                expandRowBtnLight: !darkTheme
              }"
              mat-mini-fab
              (click)="expandRow($event, run)"
            >
              <mat-icon>{{
                expandedRow !== run
                  ? "keyboard_arrow_down"
                  : "keyboard_arrow_up"
              }}</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let run"
            [attr.colspan]="columnsToDisplayWithExpand.length"
          >
            <div
              class="expandedRowWithNotes"
              [@detailExpand]="run == expandedRow ? 'expanded' : 'collapsed'"
            >
              <div class="runNotesSection">
                <h3 class="expandedRowTitle">Notes from this run</h3>
                <p class="expandedRowNotes">
                  {{ run.notes ? run.notes : "N/A" }}
                </p>
                <div class="titleAndIcon">
                  <h3 class="rpeNotesTitle">Rated Perceived Exertion (RPE)</h3>
                  <mat-icon
                    matTooltip="Rate of Perceived Exertion (RPE) refers to a 1-10 scale to self-report the intensity of an effort.
                  RPE 1-2: Recovery
                  RPE 3-4: Easy
                  RPE 5-6: Easy-Moderate
                  RPE 7: Moderate
                  RPE 8: Moderate-Hard
                  RPE 9: Hard
                  RPE 10: Max Effort"
                    matTooltipClass="rpeInfo"
                    [matTooltipPosition]="'after'"
                    >info</mat-icon
                  >
                </div>

                <p class="expandedRowRpe">
                  {{ run.rpe ? run.rpe : "N/A" }}
                </p>
              </div>
              <div class="ShoesFromRun">
                <h3 class="expandedRowTitle">Shoes used for this run</h3>
                <p class="expandedRowShoes">
                  {{ run.shoe ? run.shoe : "N/A" }}
                </p>
              </div>
              <div class="tagsFromRun">
                <h3 class="expandedRowTitle">Tags for this run</h3>
                <mat-chip-listbox>
                  <!-- Render the first two tags normally -->
                  <ng-container *ngFor="let tag of run?.tags">
                    <mat-chip>{{ tag }}</mat-chip>
                  </ng-container>
                </mat-chip-listbox>
              </div>
            </div>
          </td>
        </ng-container>

        <tr class="noDataRow" *matNoDataRow>
          <td class="noData" [attr.colspan]="displayedColumns.length">
            No data matching the filter.
          </td>
        </tr>
        <tr
          class="headerRows"
          mat-header-row
          *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"
        ></tr>
        <tr
          mat-row
          [ngClass]="{ tableRowDark: darkTheme, tableRowLight: !darkTheme }"
          *matRowDef="let row; columns: columnsToDisplayWithExpand"
          (click)="editRow(row)"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="notesRow"
        ></tr>
      </table>
      <ng-container *ngIf="!sortedData && !loading">
        <div class="noResultsError">
          <p>We encountered an issue fetching the data</p>
          <app-button
            class="retryBtn"
            [matStyle]="'mat-button'"
            [customContent]="true"
            [content]="'Retry' | uppercase"
            [hoverColour]="'rgb(17, 103, 201)'"
            (clickEvnt)="reload()"
          ></app-button>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="sortedData">
    <ng-container *ngIf="sortedData.length > 10">
      <div class="borderAndPagination">
        <div class="sidenavBorder"></div>
        <div class="paginationControlsContainer">
          <pagination-controls
            [ngClass]="{
              paginationControlsDark: darkTheme,
              paginationControlsLight: !darkTheme
            }"
            (pageChange)="p = $event"
            [autoHide]="true"
          ></pagination-controls>

          <mat-form-field class="pageSizeMatSelect" appearance="outline">
            <mat-select [(ngModel)]="pageSize">
              <ng-container *ngFor="let size of pageSizes">
                <mat-option
                  class="pageSizeOption"
                  (click)="handlePageSizeChange(size)"
                  value="{{ size }}"
                  >{{ size }}</mat-option
                >
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
