<div class="dialogContent">
  <div class="imgButtons">
    <app-button
      class="zoom-in-btn"
      (clickEvnt)="zoomIn()"
      [customContent]="true"
      [hoverColour]="'rgb(18, 128, 109)'"
      [customClass]="'material-symbols-outlined'"
      [content]="'zoom_in'"
      [matStyle]="'mat-mini-fab'"
      [disabled]="zoomLevel == 150"
      [toolTip]="'Zoom In'"
    ></app-button>
    <app-button
      class="zoom-out-btn"
      (clickEvnt)="zoomOut()"
      [customContent]="true"
      [hoverColour]="'rgb(18, 128, 109)'"
      [customClass]="'material-symbols-outlined'"
      [content]="'zoom_out'"
      [matStyle]="'mat-mini-fab'"
      [disabled]="zoomLevel == 30"
      [toolTip]="'Zoom Out'"
    ></app-button>
    <app-button
      class="closeBtn"
      (clickEvnt)="onNoClick()"
      [customContent]="true"
      [border]="true"
      [hoverColour]="'rgb(144, 30, 30)'"
      [customClass]="'material-symbols-outlined'"
      [content]="'close'"
      [matStyle]="'mat-mini-fab'"
    ></app-button>
  </div>
  <p class="imgDescription">{{ data.description }}</p>
  <div class="imageContainer">
    <img #img src="{{ data.image }}" alt="{{ data.description }}" />
  </div>
</div>
