::ng-deep .mat-form-field-underline {
  display: none;
}

mat-form-field {
  margin-bottom: -1.25em;
}

.dateRangeButtons {
  // padding-top: 10px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  // justify-content: center;
}

.pickerAndButtons {
  display: flex;
}

.searchBtn {
  margin-right: 10px;
}
