<mat-toolbar>
  <img src="assets/WhiteTrackMyRun.png" alt="productBranding" />

  <div class="navMenu">
    <a
      routerLink="/"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Add Run</a
    >
    <a
      routerLink="/analytics"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Analytics</a
    >
    <a
      routerLink="/log"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Run Log</a
    >
    <a
      routerLink="/gallery"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Gallery</a
    >
  </div>
  <div class="change-theme">
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl"> </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div>
</mat-toolbar>

<div class="content mat-app-background">
  <router-outlet></router-outlet>
</div>
