$darkBlue: #101820ff;
$accentGreen: rgb(18, 128, 44);

mat-toolbar {
  background-color: $darkBlue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navMenu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-flex;
  margin: 40px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: $accentGreen;
  cursor: pointer;
}

img {
  height: 64px;
}

.activeLink {
  color: $accentGreen !important;
}
