<mat-toolbar>
  <img src="assets/WhiteTrackMyRun.png" alt="productBranding" />

  <div class="navMenu">
    <a
      routerLink="/"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Run Log</a
    >
    <a
      routerLink="/analytics"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Analytics</a
    >
    <a
      routerLink="/gallery"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Gallery</a
    >
  </div>
  <div class="change-theme">
    <button
      (click)="switchTheme()"
      class="changeThemeBtn"
      title="{{
        toggleControl.value ? 'Switch to light theme' : 'Switch to dark theme'
      }}"
    >
      <mat-icon
        [ngClass]="{
          lightThemeBg: toggleControl.value,
          darkThemeBg: !toggleControl.value
        }"
        >{{ toggleControl.value ? "wb_sunny" : "bedtime" }}</mat-icon
      >
    </button>
  </div>
</mat-toolbar>

<div class="content mat-app-background">
  <router-outlet></router-outlet>
</div>
