<mat-toolbar
  [ngClass]="{
    lightThemeToolbar: !toggleControl.value,
    darkThemeToolbar: toggleControl.value
  }"
>
  <div class="appTitle">
    <a>T M R</a>
  </div>

  <div
    [ngClass]="{
      lightNavMenu: !toggleControl.value,
      darkNavMenu: toggleControl.value
    }"
  >
    <a
      routerLink="/"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Schedule</a
    >
    <a
      routerLink="/log"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Run Log</a
    >
    <a
      routerLink="/analytics"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Analytics</a
    >
    <a
      routerLink="/gallery"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Gallery</a
    >
    <a
      routerLink="/fixtures"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Fixtures</a
    >
    <a
      routerLink="/strava"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Strava</a
    >
  </div>
  <div>
    <button
      (click)="switchTheme()"
      [ngClass]="{
        lightThemeBtn: !toggleControl.value,
        darkThemeBtn: toggleControl.value
      }"
      title="{{
        toggleControl.value ? 'Switch to light theme' : 'Switch to dark theme'
      }}"
    >
      <mat-icon
        [ngClass]="{
          lightThemeBg: toggleControl.value,
          darkThemeBg: !toggleControl.value
        }"
        >{{ toggleControl.value ? "wb_sunny" : "bedtime" }}</mat-icon
      >
    </button>
  </div>
</mat-toolbar>

<div class="content mat-app-background">
  <router-outlet></router-outlet>
</div>
