$darkBlue: #101820ff;
$accentGreen: rgb(18, 128, 44);

mat-toolbar {
  background-color: $darkBlue !important;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navMenu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-flex;
  margin: 40px;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: $accentGreen;
  cursor: pointer;
}

img {
  height: 64px;
}

.activeLink {
  color: $accentGreen !important;
}

.change-theme {
  color: white;
}

mat-slide-toggle {
  position: relative;
  /* Adjust these values accordingly */
  top: 2px;
  left: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.changeThemeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border: none;
  border-left: solid 1px white !important;
}

.lightThemeBg {
  color: white;
  &:hover {
    color: #f5bd1f;
  }
}

.darkThemeBg {
  color: white;
  &:hover {
    color: #8a8a8a;
  }
}
