<div class="titleInfo">
  <h1 mat-dialog-title class="title">Perceived Exertion</h1>
  <mat-icon
    class="tooltips"
    matTooltip="Rate of Perceived Exertion (RPE) refers to a 1-10 scale to self-report the intensity of an effort.
    RPE 1-2: Recovery
    RPE 3-4: Easy
    RPE 5-6: Easy-Moderate
    RPE 7: Moderate
    RPE 8: Moderate-Hard
    RPE 9: Hard
    RPE 10: Max Effort"
    [matTooltipPosition]="'after'"
    >info</mat-icon
  >
</div>

<div class="sliderContent">
  <mat-slider
    [ngClass]="{ rpeSliderDark: darkTheme, rpeSliderLight: !darkTheme }"
    [max]="max"
    [min]="min"
    [step]="1"
    [displayWith]="effortLabel"
    showTickMarks
    discrete
  >
    <input matSliderThumb [(ngModel)]="value" (change)="emitEffort($event)" />
  </mat-slider>
  <div class="sliderLabels" mat-dialog-content>
    <p>Recovery</p>
    <p>Moderate</p>
    <p>Max Effort</p>
  </div>
</div>
