$accentGreen: rgb(18, 128, 44);
@mixin dialogBtnStyles {
  font-size: 22px;
  background-color: #101820ff;
  border: 2px solid white;
  color: white;
}

.dialogButtons {
  padding-top: 100px;
  justify-content: center;
}

.downloadBtn {
  @include dialogBtnStyles;
  margin-right: 40px;
}

.cancelBtn {
  @include dialogBtnStyles;
}

.downloadBtn:hover {
  font-size: 22px;
  background-color: $accentGreen;
  color: white;
}

.cancelBtn:hover {
  font-size: 22px;
  background-color: rgb(144, 30, 30);
  color: white;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #949494;
}

.fileName {
  position: absolute;
}

.fileDownloadTitle {
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}

.formField {
  display: flex;
  justify-content: center;
}
