$accentGreen: rgb(18, 128, 44);

.dialogButtons {
  padding-top: 25px;
  justify-content: space-evenly;
  display: flex;
}

.fileDownloadTitle {
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}

.formField {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
  padding-top: 5px;
}

.fileName {
  font-size: 16px;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}
