<div>
  <h1 class="title">Delete Run</h1>
  <hr class="horizontalSpacer" />
  <p class="deleteText">Are you sure you want to delete this run?</p>
  <div class="buttons">
    <app-button
      [hoverColour]="'rgb(18, 128, 44)'"
      [border]="true"
      [icon]="'check'"
      [matStyle]="'mat-button'"
      (clickEvnt)="deleteRun()"
    ></app-button>
    <app-button
      [hoverColour]="'rgb(144, 30, 30)'"
      [border]="false"
      [icon]="'close'"
      [matStyle]="'mat-button'"
      (clickEvnt)="cancelDelete()"
    ></app-button>
  </div>
</div>
