$darkBlue: #101820ff;

.analyticsContent {
  min-height: calc(100vh - 64px);
}

.distanceByDayPie {
  height: 300px;
  width: 300px;
}

.sixMonthTotalsLine {
  height: 100%;
  width: 100%;
}

mat-grid-tile {
  box-shadow: rgba(40, 89, 194, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.8) 0px 1px 2px;
}

mat-grid-list {
  height: fit-content;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.tileTitle {
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
  top: 0;
  position: absolute;
  padding-top: 5px;
}

.personalBestTitle {
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
  top: 0;
  padding-top: 5px;
}

.shoesTitle {
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
  top: 0;
  padding-top: 5px;
}

.tileData {
  display: flex;
  align-items: baseline;
  margin: auto;
}

.distanceTag {
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 0 0 3px white; /* adds a green, blurred shadow */
}

.milesTag {
}

.monthlyDailyAvgAndTotal {
  height: 100%;
  width: 100%;
}

.monthlyTotal {
  height: 100%;
  width: 100%;
}

.longestRun {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalDistance {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentWeeksTotal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalAndAverageData {
  display: flex;
}

.totalAndAvgtileTitle {
  padding-top: 5px;
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
}

.totalAndAverageData {
  padding-top: 50px;
}

.infoTag {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.personalBestTable {
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
  margin-top: 2rem;
}

.shoeTable {
  width: 100%;
  // max-height: 25rem;
  overflow-y: auto;
}

.personalBestTile {
  height: 100%;
  width: 100%;
  margin: 0 5px 0 5px;
}

.allShoesTile {
  height: 100%;
  width: 100%;
  margin: 0 5px 0 5px;
}
