<div class="analyticsContent">
  <mat-grid-list cols="5" [gutterSize]="'10px'">
    <mat-grid-tile class="sixMonthTotalTile" [colspan]="2" [rowspan]="1">
      <div class="sixMonthTotalsLine">
        <canvas #sixMonthTotalsLine></canvas>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="dailyAvgMonthYearTile" [colspan]="2">
      <div class="monthlyDailyAvg">
        <div class="selects">
          <app-month-year-selects
            [currentYear]="currentYear"
            [currentMonth]="currentMonth"
            [months]="sortedMonths"
            (monthYearSelection)="
              dailyAvgForMonthInYear($event.month, $event.year)
            "
          ></app-month-year-selects>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="longestRunTile">
      <div class="longestRun">
        <p class="tileTitle">Furthest Run</p>
        <div class="tileData">
          <p class="distanceTag">{{ longestDistance?.LongestRun }}</p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="totalDistanceTile">
      <div class="totalDistance">
        <p class="tileTitle">Total Running Distance</p>
        <div class="tileData">
          <p class="distanceTag">{{ totalDistance?.TotalDistance }}</p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="currentWeeksTotalTile">
      <div class="currentWeeksTotal">
        <p class="tileTitle">Total This Week</p>
        <div class="tileData">
          <p class="distanceTag">
            {{ currentWeeksTotal?.TotalDistanceWeek || 0 }}
          </p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="monthInYearTotalTile">
      <div class="monthlyTotal">
        <div class="monthYearSelects">
          <div class="selects">
            <app-month-year-selects
              [currentYear]="currentYear"
              [currentMonth]="currentMonth"
              [months]="sortedMonths"
              (monthYearSelection)="
                totalDistanceForMonthInYear($event.month, $event.year)
              "
            ></app-month-year-selects>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="distanceByDayTile">
      <div class="distanceByDayPie">
        <canvas #distanceByDay></canvas>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
