<div class="analyticsContent">
  <mat-grid-list cols="5" [gutterSize]="'10px'">
    <mat-grid-tile class="sixMonthTotalTile" [colspan]="2" [rowspan]="1">
      <div class="sixMonthTotalsLine">
        <canvas #sixMonthTotalsLine></canvas>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="totalAndAvgMonthYearTile" [colspan]="2">
      <div class="monthlyDailyAvgAndTotal">
        <p class="totalAndAvgtileTitle">
          Metrics in {{ displayMonth }}
          {{ currentYear }}
        </p>
        <div class="selects">
          <app-month-year-selects
            [currentYear]="currentYear"
            [currentMonth]="currentMonth"
            [months]="sortedMonths"
            (monthYearSelection)="
              totalAndAverageMonthInYear($event.month, $event.year)
            "
          ></app-month-year-selects>

          <div class="totalAndAverageData">
            <div class="tileData">
              <p class="distanceTag">
                {{
                  (dailyAvgMonthInYear?.average_daily_distance_month_year
                    | number : "1.2-2") || 0
                }}
              </p>
              <p class="milesTag">Mi</p>
            </div>

            <div class="tileData">
              <p class="distanceTag">
                {{ (monthInYearTotal?.total_distance | number : "1.2-2") || 0 }}
              </p>
              <p class="milesTag">Mi</p>
            </div>
          </div>
          <div class="infoTag">
            <p>Daily Avg</p>
            <p>Monthly Total</p>
          </div>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="longestRunTile">
      <div class="longestRun">
        <p class="tileTitle">Furthest Run</p>
        <div class="tileData">
          <p class="distanceTag">{{ longestDistance?.longest_run }}</p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="totalDistanceTile">
      <div class="totalDistance">
        <p class="tileTitle">Total Running Distance</p>
        <div class="tileData">
          <p class="distanceTag">{{ totalDistance?.total_distance }}</p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="currentWeeksTotalTile">
      <div class="currentWeeksTotal">
        <p class="tileTitle">Total This Week</p>
        <div class="tileData">
          <p class="distanceTag">
            {{ currentWeeksTotal?.total_distance_week || 0 }}
          </p>
          <p class="milesTag">Mi</p>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="personalBestTile" [colspan]="1">
      <div class="personalBestEfforts">
        <app-personal-bests></app-personal-bests>
      </div>
    </mat-grid-tile>

    <mat-grid-tile class="distanceByDayTile" [colspan]="2">
      <div class="distanceByDayPie">
        <canvas #distanceByDay></canvas>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
