$accentGreen: rgb(18, 128, 109);

.highMileage-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.titleInfo {
  display: flex;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 28px;
  padding-top: 5px;
}

app-button {
  display: flex;
  justify-content: flex-end;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.highMileShoes {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.shoeMileage {
  display: flex;
}

.distanceText {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.card:hover {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

.warningText {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.shoeDetails {
  font-size: 14px;
  font-weight: 300;
}

.card {
  width: fit-content;
  padding: 1rem;
}
