<div class="highMileage-content">
  <div class="titleInfo">
    <h1 mat-dialog-title class="title">High Mileage Shoes</h1>
    <mat-icon
      class="tooltips"
      matTooltip="The general guideline is to replace your running shoes every 300 to 500 miles."
      matTooltipClass="shoeInfo"
      [matTooltipPosition]="'after'"
      >info</mat-icon
    >
  </div>

  <app-button
    class="closeBtn"
    [icon]="'close'"
    (clickEvnt)="onClose()"
    [matStyle]="'mat-mini-fab'"
    [border]="true"
    [hoverColour]="'rgb(144, 30, 30)'"
  ></app-button>
</div>

<div mat-dialog-content>
  <p class="warningText">The following shoes have surpassed 300 miles</p>
  <div class="highMileShoes">
    <ng-container *ngFor="let shoe of highMileageShoes">
      <mat-card appearance="outlined" class="card">
        <div class="shoeDetails">
          <p>{{ shoe.brand }} {{ shoe.name }}</p>
          <div class="shoeMileage">
            <p>Mileage:</p>
            <p class="distanceText">{{ shoe.distance | number : "1.2-2" }}</p>
          </div>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
