$accentGreen: rgb(18, 128, 44);
.titleInfo {
  display: flex;
}

app-button {
  display: flex;
  justify-content: flex-end;
}

.horizontalSpacer {
  width: 318px;
  opacity: 0.3;
}

.highMileShoes {
  margin-top: 10px;
}

.shoeMileage {
  display: flex;
}

.distanceText {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.card:hover {
  box-shadow: $accentGreen 0px 2px 4px, $accentGreen 0px 7px 13px -3px,
    $accentGreen 0px -3px 0px inset;
}

.warningText {
  font-size: 14px;
  font-weight: 300;
}

.shoeDetails {
  font-size: 14px;
  font-weight: 300;
}
