.loadingContainer {
  height: 100vh;
  background-color: #101820ff;
}

.loadingContent {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.progressBar {
}

img {
  width: 200px;
  height: 150px;
}
